<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Food Adda</a>
    </div>
    
    <ul class="nav navbar-nav">
      {{#if user}}
      <li class="active"><a href="#">Home</a></li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a href="addnewpro">Add new products</a></li>
          <li><a href="viewallpro">View all products</a></li>
          
        </ul>
      </li>
      
       
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">View all customers</a></li>
          <li><a href="#">Pending Orders</a></li>
          <li><a href="#">Order History</a></li>
        </ul>
      </li>
      <li><a href="#">Change password</a></li>
     {{/if}} 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if user}}
      <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {{else}}
      <li><a href="signupform"><span class="glyphicon glyphicon-user"></span>Signup</a></li>
      {{/if}}

    </ul>
  </div>
</nav>

<!--{{{body}}}-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>
